<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title 'Live Profiler Demo' %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/profilerdemo/favicon.ico') }}" />
        {% block head %}
            <link href="{{ asset('bundles/profilerdemo/css/demo.css') }}" rel="stylesheet" type="text/css" media="screen" />
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body '' %}
    </body>
</html>
